<!-- Footer Section -->
<section class="footer">
<div class="horizontal-padding vertical-padding"> <!-- microclase global espaciado-margen gral. eje horizontal y vertical de esta section -->
  <!-- Pie de Pagina -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../assets/img/Sigueme.png" alt="Logo de GiordiA">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Ubicación</h2>
        <p>Córdoba - Capital.</p>
        <p>Argentina.</p>
      </div>
      <div class="box">
        <h2>SÍGUEME !</h2>
        <div class="red-social">
          <a href="https://facebook.com/100087282319734" target="_blank" class="bi bi-facebook" title="Facebook"></a>
          <a href="https://instagram.com/giordiag/" target="_blank" class="bi bi-instagram" title="Instagram"></a>
          <a href="https://twitter.com/@GiORDiAG" target="_blank" class="bi bi-twitter" title="Twitter"></a>
          <a href="https://linkedin.com/in/ariel-giordano-9b3818245/" target="_blank" class="bi bi-linkedin" title="LinkedIn"></a>
          <a href="https://discord.com/" target="_blank" class="bi bi-discord" title="Discord"></a>
          <a href="https://api.whatsapp.com/send?phone=543516483223" target="_blank" class="bi bi-whatsapp" title="WhatsApp"></a>
          <a href="mailto: giordanoariel75@gmail.com" class="bi bi-envelope-fill" title="e-mail"></a>
        </div>
      </div>
    </div>
    <!-- Copyright Section -->
    <div class="grupo-2">
      <small>&copy; 2022 <b>GiORDANO ARiEL</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
</div>
</section>
