<!-- Footer Section -->
<section class="footer">
<div class="horizontal-padding vertical-padding"> <!-- microclase global espaciado-margen gral. eje horizontal y vertical de esta section -->
  <!-- Pie de Pagina -->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../assets/img/Sigueme.png" alt="Logo de GiordiA">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Dirección</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui in.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui in.</p>
      </div>
      <div class="box">
        <h2>SÍGUEME !</h2>
        <div class="red-social">
          <a href="#" class="bi bi-facebook"></a>
          <a href="#" class="bi bi-instagram"></a>
          <a href="#" class="bi bi-twitter"></a>
          <a href="#" class="bi bi-linkedin"></a>
          <a href="#" class="bi bi-discord"></a>
          <a href="#" class="bi bi-whatsapp"></a>
          <a href="giordanoariel75@gmail.com" class="bi bi-envelope-fill"></a>
        </div>
      </div>
    </div>
    <!-- Copyright Section -->
    <div class="grupo-2">
      <small>&copy; 2022 <b>GiORDANO ARiEL</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
</div>
</section>
