<div class="container-fluid">
  <div class="content-center">
    <div class="p-5">
      <div>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="logoE"><b>Relative Path del logo (opcional)</b></label>
            <input type="text" class="form-control" id="logoE" name="logoE" placeholder="assets/images/nombreImg.extensión" [(ngModel)]="logoE">
          </div>
          <div class="form-group">
            <label for="logobE"><b>Relative Path del logo b (opcional)</b></label>
            <input type="text" class="form-control" id="logobE" name="logobE" placeholder="assets/images/nombreImgb.extensión" [(ngModel)]="logobE">
          </div>
          <div class="form-group">
            <label for="logocE"><b>Relative Path del logo c (opcional)</b></label>
            <input type="text" class="form-control" id="logocE" name="logocE" placeholder="assets/images/nombreImgc.extensión" [(ngModel)]="logocE">
          </div>
          <div class="form-group">
            <label for="descripcionE"><b>Título o Certificación</b></label>
            <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
          </div>
          <div class="form-group">
            <label for="nombreE"><b>Nombre de la Institución</b></label>
            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
          </div>
          <div class="form-group">
            <label for="periodoAniosExp"><b>Fecha de ingreso y finalización estudios</b></label>
            <input type="text" class="form-control" id="periodoAniosE" name="periodoAniosE" placeholder="(AAAA-AAAA)" [(ngModel)]="periodoAniosE" required>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-success">Add education</button>
            <a href="http://localhost:4200" class="btn btn-success">Return</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
