<!-- MastHeade Logo Redes Sociales y Login -->
<header class="topheader">
  <nav class="topnav">
    <div class="logo">
      <img class="logo-argprog" height="70" width="115" src="../assets/img/APLogo.png" alt="Argentina Programa #YoProgramo"> <!-- CAMBIO modificar archivo en ANGULAR -->
      <img class="logo-inti" height="70" width="232" src="../assets/img/LogosInti.png" alt="Inti y Ministerio de Desarrollo Productivo Argentina"> <!-- CAMBIO Idem al anterior -->
    </div>


    <!-- Imagenes-iconos y enlaces redes sociales -->
    <div class="redsocial-login">
      <div class="icons-redsocial">
        <div class="social">
          <a href="#" class="facebook"><img src="../assets/img/FacebookAa.png" alt="Facebook" id="Facebook"></a>
          <a href="#" class="instagram"><img src="../assets/img/InstagramAa.png" alt="Instagram" id="Instagram"></a>
          <a href="#" class="twitter"><img src="../assets/img/TwitterAa.png" alt="Twitter" id="twitter"></a>
          <a href="#" class="linkedin"><img src="../assets/img/LinkedinAa.png" alt="Linkedin" id="Linkedin"></a>
          <a href="#" class="discord"><img src="../assets/img/DiscordAa.png" alt="Discord" id="Discord"></a>
        </div>
      </div>
      <div class="btn-login">
        <a class="btn btn-primary" href="#" role="button">Login</a>
      </div>
      <div class="container py-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="darkSwitch" checked>
          <label for="darkSwitch" class="form-check-label">
            <i class="bi-moon-stars-fill" style="font-size: 12px; color: var(--bs-black);"></i> |
            <i class="bi-brightness-high" style="font-size: 15px; color: var(--bs-warning);"></i>
          </label>
        </div>
      </div>
    </div>
  </nav>

  <!-- Navigation Menu -->
  <nav class="menunav">
    <button class="open-menu" aria-label ="Abrir menú">
      <img src="assets/img/menuopen.png" alt="abrir menú">
    </button>
    <ul class="menu">
      <button class="close-menu" aria-label ="Cerrar menú">
        <img src="assets/img/close.png" alt="cerrar menú">
      </button>
      <li><a href="#about" class="selected">Acerca de</a></li> <!-- con clase selector para el puntero al pasar por arriba -->
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#education">Educación</a></li>
      <li><a href="#skills">Hard & Soft Skills</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>
