<!-- Banner + About + FotoPerfil Section -->
<section class="about">
<div class="about-img-section"> <!-- Div Banner + FOTOPerfil + info profesional sobre mí -->
  <div class="banner-img-section">
    <img class="banner-img" id="about" src="../assets/img/banner1.png" alt="Banner"> <!-- imagen del banner -->
  </div>
  <div class="horizontal-padding vertical-padding"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
    <div class="about-info">
      <div class="about-perfil-img">
        <img class="about-img" src="../assets/img/fotperfilB.png" alt="Full Stack Developer Jr"> <!-- foto perfil -->
        <h1 class="about-name">Giordano Ariel</h1>
        <h2 class="about-specialty">Full Stack Developer Jr.</h2>
        <p class="about-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui in.</p> <!-- Breve reseña profesional sobre mí-->
        <button class="about-btn">
        Download cv
        </button>
      </div>
      <div class="body-acerca">
        <div class="acerca-de"> <!-- Información profesional -->
          <h2 class="title-acerca-de">Acerca de</h2>
          <p class="acerca-de-details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, provident porro corrupti quas omnis numquam voluptas voluptatem quod maxime iste modi laboriosam earum dolorem inventore culpa repudiandae! Repellendus, eum eligendi.</p>
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Read More</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
