<!-- Banner + About + FotoPerfil Section -->
<section class="about">
<div class="about-img-section"> <!-- Div Banner + FOTOPerfil + info profesional sobre mí -->
  <div class="banner-img-section">
    I<img class="banner-img" id="about" src="../assets/img/banner.png" alt="Banner"> <!-- imagen del banner -->
  </div>
  <div class="horizontal-padding vertical-padding"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
    <div class="about-info" *ngFor="let About of about">
      <div class="about-perfil-img">

          <img class="about-img" src="{{ About.imgPerfil }}" alt="Profile Picture">


        <h1 class="about-name" id="nombre">{{ About.nombreCompleto }}</h1> <!-- {{persona.nombre}} {{persona.apellido}} -->
        <h2 class="about-specialty">{{ About.profesion }}</h2>
        <p class="about-details">{{ About.descripcion }}</p> <!-- Breve reseña profesional sobre mí-->
        <button class="about-btn">
          <a download="CV" href="{{ About.cv }}">Download CV<img class="edit-buttons img-iconsadd" src="assets/img/Cv-archive.png" alt="Cv archive">
          </a>
        </button>
      </div>
      <div class="body-acerca">
        <div class="acerca-de"> <!-- Información profesional -->
          <div class="p-0 mb-0 education-certification experience_icons">
            <div class="p-0 bd-highlight" *ngIf="isLogged">
              <div class="d-flex justify-content-end">
                <div class="p-1 m-0 bd-highlight">
                  <button type="button" class="edit-buttons" routerLink="/editabout/{{ About.id }}"><img class="img-icons" src="assets/img/pencil-solid.png" alt="pencil-sharp">EDIT</button>
                </div>
                <div class="p-1 m-0 bd-highlight">
                  <button type="button" class="edit-buttons" (click)="delete(About.id)"><img class="img-icons" src="assets/img/trash-can-solid.png" alt="trash-outline">DELETE</button>
                </div>
              </div>
            </div>
          </div>
            <div class="p-0 mt-0 grid text-center" style="--bs-columns: 4; --bs-gap: 1rem;">
              <div class="g-col-3">
                <h4 class="mt-0 title-acerca-de">Acerca de </h4>
              </div>
              <div class="g-col-1">
                <img class="about-imgB align-self-start" src="{{ About.imgAuthor }}" alt="Profile Picture">
              </div>
            </div>
          <p class="acerca-de-details">{{ About.about }}</p> 
          <!-- =============== Aclaración: desarrollaré la codificaíon extra de esta parte por falta de tiempo en una segunda etapa ================= -->
          <!--   Experiencia por más de 15 años en el desempeño de tareas administrativas como Asistente Administrativo - Bróker de Forex.  OBJETIVOS: Ganar "experiencia como desarrollador de software".  La experiencia es lo único que aporta "verdadero conocimiento", y cuanto más tiempo esté involucrado con la industria de la tecnología y su gran comunidad de IT (Information Technology), más experiencia tendré. Otro de mis objetivos a corto y mediano plazo es profundizar en habilidades y aptitudes sobre Seguridad Informática e Inteligencia Artificial (AI). 
          <button class="learn-more">
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Read More</span>
          </button> -->
        </div>
      </div>
    </div>
    <div class="p-0 mb-0 d-flex justify-content-center">
      <button class="learn-more add-about">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Add ABOUT
          <button type="button" class="edit-buttons" routerLink="/nuevoabout" *ngIf="isLogged && about.length == 0"><img class="p-0 m-0 img-iconsadd" src="assets/img/add-solid.png" alt="New About"></button>
        </span>
      </button>
    </div>
  </div>
</div>
</section>
