<!-- Proyectos Section -->
<section class="projects">
<div class="horizontal-padding vertical-padding"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
  <div class="projects-body"> <!-- clase del cuerpo de projects -->
    <h2 class="projects-title">Proyectos</h2> <!-- Titulo h2 Proyectos -->
    <div class="p-0 mb-3 bd-highlight">
      <div class="d-flex justify-content-center">
        <div class="p-1 bd-highlight education-certification">
          <button type="button" class="edit-buttons" routerLink="/nuevoproyecto" *ngIf="isLogged"><img class="img-iconsadd" src="assets/img/add-solid.png" alt="New Project">NEW PROJECT</button>
        </div>
      </div>
    </div>
    <!-- Inicia carousel o sliderd -->
    <div class="experiences-grid" *ngFor="let Projects of proyectos">
      <div id="SliderProject" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators"> <!-- Indicadores de cada sliderd -->
          <button type="button" data-bs-target="#SliderProject" data-bs-slide-to="0" class="active" aria-current="true" style="background-color: rgb(13,202,240);" aria-label="Slide 1"></button> <!-- rgb(13,202,240); -->
          <button type="button" data-bs-target="#SliderProject" data-bs-slide-to="1" style="background-color: rgb(13,202,240);" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#SliderProject" data-bs-slide-to="2" style="background-color: rgb(13,202,240);" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#SliderProject" data-bs-slide-to="3" style="background-color: rgb(13,202,240);" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ Projects.imgProjectA }}" class="d-block w-100 rounded-4" alt="Image of the First Project - Attached image of the project.">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="p-0 m-0 text-decoration-underline"><b>{{ Projects.nameProject }}</b></h5>
              <div class="d-flex justify-content-center text-center">
                <h6 class="p-2 m-0 ..."><time>{{ Projects.dateProjectA }}</time></h6>
                <a href="{{ Projects.linkProjectA }}" class="btn" target="_blank">Link</a>
              </div>
              <p class="fst-italic fw-lighter">{{ Projects.descriptionProjectA }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ Projects.imgProjectB }}" class="d-block w-100 rounded-4" alt="Image of the Second Project - Attached image of the project.">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="p-0 m-0 text-decoration-underline"><b>{{ Projects.namePjB }}</b></h5>
              <div class="d-flex justify-content-center text-center">
                <h6 class="p-2 m-0 ..."><time>{{ Projects.dateProjectB }}</time></h6>
                <a href="{{ Projects.linkProjectB }}" class="btn" target="_blank">Link</a>
              </div>
              <p class="fst-italic fw-lighter">{{ Projects.descriptionProjectB }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ Projects.imgProjectC }}" class="d-block w-100 rounded-4" alt="Image of the Third Project - Attached image of the project.">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="p-0 m-0 text-decoration-underline"><b>{{ Projects.namePjC }}</b></h5>
              <div class="d-flex justify-content-center text-center">
                <h6 class="p-2 m-0 ..."><time>{{ Projects.dateProjectC }}</time></h6>
                <a href="{{ Projects.linkProjectC }}" class="btn" target="_blank">Link</a>
              </div>
              <p class="fst-italic fw-lighter">{{ Projects.descriptionProjectC }}</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ Projects.imgProjectD }}" class="d-block w-100 rounded-4" alt="Image of the Fourth Project - Attached image of the project.">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="p-0 m-0 text-decoration-underline"><b>{{ Projects.namePjD }}</b></h5>
              <div class="d-flex justify-content-center text-center">
                <h6 class="p-2 m-0 ..."><time>{{ Projects.dateProjectD }}</time></h6>
                <a href="{{ Projects.linkProjectD }}" class="btn" target="_blank">Link</a>
              </div>
              <p class="fst-italic fw-lighter">{{ Projects.descriptionProjectD }}</p>
            </div>
          </div>
        </div>
        <!-- Indicadores prev & next -->
        <button class="carousel-control-prev" type="button" data-bs-target="#SliderProject" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgb(13,202,240);"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#SliderProject" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgb(13,202,240);"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="experience experience_icons">
        <div class="p-0 bd-highlight" *ngIf="isLogged">
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" class="edit-buttons" routerLink="/editproyecto/{{ Projects.id }}"><img class="img-icons" src="assets/img/pencil-solid.png" alt="pencil-sharp">EDIT</button>
            </div>
            <div class="p-1 me-3 bd-highlight">
              <button type="button" class="edit-buttons" (click)="delete(Projects.id)"><img class="img-icons" src="assets/img/trash-can-solid.png" alt="trash-outline">DELETE</button>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
</section>
