<!-- Hard & Soft Skills Section -->
<section class="skills">
<div class="horizontal-padding vertical-padding section-skills"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
  <h2 class="skills-title">Hard & Soft Skills</h2>
  <ul class="skills-list">
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-html" src="../assets/img/HTMLa.png" alt="logo HTML"> <!-- logo HTML -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#04fc43;--num:75;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>75<span>%</span></h2>
                <h3>HTML</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-css" src="../assets/img/CSSa.png" alt="logo CSS"> <!-- logo CSS -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#fee800;--num:50;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>50<span>%</span></h2>
                <h3>CSS</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-js" src="../assets/img/JAVASCRIPTc.png" alt="logo JAVASCRIPT"> <!-- logo JAVASCRIPT -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#06ccff;--num:25;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>25<span>%</span></h2>
                <h3>JAVASCRIPT</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-angular" src="../assets/img/ANGULARc.png" alt="logo ANGULAR"> <!-- logo ANGULAR -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#ff9100;--num:25;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>25<span>%</span></h2>
                <h3>ANGULAR</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-sql" src="../assets/img/SQL.png" alt="logo SQL"> <!-- logo SQL -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#0D0ACA;--num:25;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>25<span>%</span></h2>
                <h3>SQL</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-ruby" src="../assets/img/Rubyb.png" alt="logo RUBY"> <!-- logo RUBY -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#04fc43;--num:50;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>50<span>%</span></h2>
                <h3>RUBY</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-git" src="../assets/img/Git.png" alt="logo Git"> <!-- logo GIT -->
        <img class="skill-img-github" src="../assets/img/githubL.png" alt="logo GitHub"> <!-- logo GITHUB -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#fee800;--num:50;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>50<span>%</span></h2>
                <h3>Git-GitHub</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-flexboxgrid" src="../assets/img/GridvsFlexboxa.png" alt="logo FLEXBOX-GRID"> <!-- logo FLEXBOX-GRID -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#04fc43;--num:75;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>75<span>%</span></h2>
                <h3>FLEXBOX-GRID</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-bootstrap" src="../assets/img/Bootstrapc.png" alt="logo BOOTSTRAP"> <!-- logo BOOTSTRAP -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#fee800;--num:50;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>50<span>%</span></h2>
                <h3>BOOTSTRAP</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-figma" src="../assets/img/Figma.png" alt="logo FIGMA">FIGMA <!-- logo FIGMA -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#04fc43;--num:50;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>50<span>%</span></h2>
                <h3>FIGMA</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="skills-skill">
      <div class="skill-img">
        <img class="skill-img-ofimatica" src="../assets/img/OfimaticaB.png" alt="logo OFIMÁTICA"> <!-- logo OFIMÁTICA -->
        <img class="skill-img-computerized" src="../assets/img/ComputerizedTyping.png" alt="logo COMPUTERIZED TYPING"> <!-- logo COMPUTERIZED TYPING -->
        <div class="container">
          <div class ="card">
            <div class="percent" style="--clr:#fee800;--num:100;">
              <div class="dot"></div>
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="number">
                <h2>100<span>%</span></h2>
                <h3>OFIMÁTICA-COMPUTERIZED TYPING</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</section>
