<!-- Work Experiences Section -->
<section class="experiences">
<div class="horizontal-padding vertical-padding"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
  <div class="experiences-body"> <!-- clase cuerpo de la experiencia -->
    <h2 class="experiences-title">Experiencia</h2> <!-- Titulo h2 Experiencia -->
    <div class="experiences-grid"> <!-- section grilla de las experiencias -->
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="line"></div> <!-- LINEA central de la section -->
      <div class="experience"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">2019 - hasta la Actualidad</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">GiORDi GiORDANO STYLIST UNISEX</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Estilista Unisex Pivot Point</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="experience experience_left"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">2015 - 2016</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">CNH INDUSTRIAL ARGENTINA S.A.</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Picking - Logística</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="line"></div> <!-- LINEA central -->
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="empty"></div> <!-- ESPACIO vacio seguido-->
      <div class="line"></div> <!-- LINEA central -->
      <div class="experience"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">2003 - 2012</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">COOP. DE VIVIENDA, CRÉDITO Y CONSUMO AGUIRRE LIMITADA</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Asistente Administrativo - Bróker de Forex</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="experience experience_left"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">2001 - 2003</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">AGUIRRE & ASOCIADOS S.A.</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Asistente Administrativo - Bróker de Forex</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="line"></div> <!-- LINEA central -->
      <div class="empty"></div> <!-- ESPACIO vacio-->
      <div class="empty"></div> <!-- ESPACIO vacio seguido -->
      <div class="line"></div> <!-- LINEA central -->
      <div class="experience"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">2000 - 2001</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">ESTHER AGUIRRE & PASSARINI LEONARDO S.H.</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Asistente Administrativo - Bróker de Forex</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="experience experience_left"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">1998 - 1999</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">ESTUDIO DE ARQUITECTURA PUCHETA</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Asistente Administrativo</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="line"></div> <!-- LINEA central -->
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="empty"></div> <!-- ESPACIO vacio seguido -->
      <div class="line"></div> <!-- LINEA central -->
      <div class="experience"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">1997 - 1998</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">LOS ALERCES - LAR SHOP S.R.L.</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Atención al cliente</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="experience experience_left"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">1996 - 1997</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">LAS DOS -G- S.R.L.</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">Asistente Administrativo</div> <!-- puesto o cargo realizado -->
        <div class="experience-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, hic tempora! Illum recusandae porro non! Magnam voluptatum ab repudiandae quisquam labore veritatis veniam quidem ullam cupiditate ratione. Commodi, enim cumque!</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="line"></div> <!-- LINEA central -->
    </div>
  </div>
</div>
</section>
