<!-- Work Experiences Section -->
<section class="experiences">
<div class="horizontal-padding vertical-padding"> <!-- microclase global en el espaciado-margen general en el eje horizontal y vertical de esta section -->
  <div class="experiences-body"> <!-- clase cuerpo de la experiencia -->
    <h2 class="experiences-title">Experiencia</h2> <!-- Titulo h2 Experiencia -->
    <div class="p-0 mb-3 bd-highlight">
      <div class="d-flex justify-content-center">
        <div class="p-1 bd-highlight education-certification">
          <button type="button" class="edit-buttons" routerLink="/nuevaexp" *ngIf="isLogged"><img class="img-iconsadd" src="assets/img/add-solid.png" alt="New Experiences">NEW EXPERIENCES</button>
        </div>
      </div>
    </div>
    <div class="experiences-grid" *ngFor="let Experiences of expe"> <!-- section grilla de las experiencias -->
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="line"></div> <!-- LINEA central de la section -->
      <div class="experience"> <!-- una misma clase general para cada experiencia en particular. -->
        <div class="experience-date">{{ Experiences.periodoAniosExp }}</div> <!-- fecha de ingreso y finalización -->
        <div class="experience-company">{{ Experiences.nombreE }}</div> <!-- nombre del empleador-compañia -->
        <div class="experience-position">{{ Experiences.descripcionE }}</div> <!-- puesto o cargo realizado -->
        <div class="experience-logo">{{ Experiences.logoExp }}</div> <!-- Breve descripcion del trabajo realizado -->
      </div>
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="empty"></div> <!-- ESPACIO vacio -->
      <div class="experience experience_icons">
        <div class="p-0 bd-highlight" *ngIf="isLogged">
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" class="edit-buttons" routerLink="/editexp/{{ Experiences.id }}"><img class="img-icons" src="assets/img/pencil-solid.png" alt="pencil-sharp">EDIT</button>
            </div>
            <div class="p-1 me-3 bd-highlight">
              <button type="button" class="edit-buttons" (click)="delete(Experiences.id)"><img class="img-icons" src="assets/img/trash-can-solid.png" alt="trash-outline">DELETE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
