/* You can add global styles to this file, and also import other style files */
/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT main ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* Raíz del Document, nodo principal selector para definir variables para el cambio automático al citarla en cualquier lugar. */
:root {
  --theme-color-topheader: #00358e;
  --theme-color: #0D0ACA;
  --primary-color: white;
  --secondary-color: #F7C331;
  --tertiary-color: rgb(255, 0, 0);
  --text-color-inverse: white;;
  --text-color: black;
  --navbar-shallow-color: #0215fd; /* color sombra linea barra de navegación */
  --menu-mobile-background-color: #3A4460; /* color background del menu dispositivo mobil */
  --background-color-body: #05cdff;
  --bd-violet-rgb: 112.520718,44.062154,249.437846;
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: rgb(13, 202, 240);
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-cornflowerblue:#6495ed;
  --green: hsl(162, 45%, 56%);
  --lead: hsl(162, 2%, 56%);
  --blue: hsl(220, 85%, 57%);
  --theme-color-b: hsl(241, 91%, 42%);
  --violet: hsl(272, 92%, 32%);
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 90%);
  --text-yellow: hsl(117, 98%, 50%);
  --body-bg-color: hsl(200, 54%, 12%);
  --glass-bg-color: hsl(0, 0%, 100%, 0.05);
  --border-color: hsl(0, 0%, 100%, 0.25);
  --blur: blur(10px);
  --button-hover-color: hsl(0, 0%, 0%, 0.3);
}

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  scroll-behavior: smooth; /* para lograr que el comportamiento de desplazamiento-scroll sea suave */
}

/* para todo el body Google Font fuente Montserrat sino sans-serif del navegador */

.body {
  font-family:'Montserrat', sans-serif;
  background-color: var(--background-color-body);
  color: var(--text-color);
  padding-top: 140px; /* para tener espacio en el top body al estar fijado el navbar (.topheader position fixed) barra de navegación */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

/* Para el Portfolio en general */
img[id] {
  scroll-margin-top: 150px; /* para lograr al hacer scroll que quede visible la sección elejida y no por debajo del menu de navegación - barra de navegacion que es fija */
}

/* reseteo global enlaces: */
a {
  text-decoration: none; /* enlaces sin lineas debajo */
  color: var(--text-color); /* color del texto enlaces */
}

/* padding minimos que vamos a tener en dispositivos mobiles */
.horizontal-padding {
  padding-left: 25px; /* izquierda*/
  padding-right: 25px; /* derecha*/
}
.vertical-padding {
  padding-top: 25px; /* parte superior */
  padding-bottom: 25px; /* abajo */
}

/* imagen ola utilizada para separación de section */
.wave {
  width: 100%; /* para que este integrada al 100% del ancho de la pagina viewport */
  position: relative; /* al ampliar la pantalla añade una linea que lo borramos integrandolo al elemento */
}

.wave_top {
  transform: scaleY(-1); /* invierte horizontalmente la posición de la imagen ola para integrarla a la section */
  top: 2px; /* que se mueva en su posición natural 2px y se integre */
  padding-top: 0px; /* parte superior */
}

.wave_bottom {
  top: -2px; /* que se mueva en su posición natural 2px y se integre */
  padding-bottom: 0px; /* abajo */
}

.img-central-section {
  display: flex;
  width: 60%;  /* foto de perfil que sea el 60% de mi viewport */
  max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -25px;
  margin-bottom: -10px;
  transform: translateY(40px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
  border-radius: 5%;
  cursor: pointer none;
  background-color: #0066ff;
  border: 1px solid var(--navbar-shallow-color);
}

.img-central-section:hover {
  transform: translateY(-20px);
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s all;
  border-radius: 5%;
}

.img-iconsadd {
  max-width:22%;
  max-height:22%;
  padding: 0 3px;
}

.img-icons {
  max-width:18%;
  max-height:18%;
  padding: 0 3px;
}

/* Botón editar */
.edit-buttons {
  max-height: 53px;
  max-width: 174px;
  border: none;
  font-size: 10px; /* Tamaño de fuente */
  padding: 0.5em 1em; /* separo de su contenedor en unidad de medida em = (es relativa a la medida de la fuente declarada del elemento, ej: 0.5em = a la mitad de píxeles de font-size y 1em = es igual cantidad de píxeles declarada en el font-size) siempre estara sujeta a los pixeles del font-size */
  border-radius: 42px; /* redondeo las puntas del botón */
  background: linear-gradient(to right, var(--bs-cyan), var(--theme-color));
  color: var(--bs-light);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.edit-buttons::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}

.edit-buttons:hover::before {
  background-color: var(--button-hover-color);
  font-size: 5px solid; /* Tamaño de fuente */
  filter: brightness(100%); /* al hacer hover sobre el botón que tenga más brillo */
  /*color: cadetblue;*/
  cursor: pointer; /* cabie el puntero para seleccionar */
}

/* Botón de los Formularios Agregar y Volver */
.btn-success {
  border: none;
  font-size: 20px; /* Tamaño de fuente */
  padding: 0.5em 1em; /* separo de su contenedor en unidad de medida em = (es relativa a la medida de la fuente declarada del elemento, ej: 0.5em = a la mitad de píxeles de font-size y 1em = es igual cantidad de píxeles declarada en el font-size) siempre estara sujeta a los pixeles del font-size */
  border-radius: 42px; /* redondeo las puntas del botón */
  background: linear-gradient(to right, var(--bs-cyan), var(--theme-color));
  color: var(--bs-light);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-success::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}

.btn-success:hover::before {
  background-color: var(--button-hover-color);
  font-size: 10px solid; /* Tamaño de fuente */
  filter: brightness(100%); /* al hacer hover sobre el botón que tenga más brillo */
  /*color: cadetblue;*/
  cursor: pointer; /* cabie el puntero para seleccionar */
}

/* ------------------------------------------------------------------*/

/* padding minimos:::::Para Dispositivos DESKTOP::::a partir de un min-width: 950px */
@media (min-width: 950px) {

  img[id] {
    scroll-margin-top: -450px; /* para lograr al hacer scroll que quede visible la sección elejida y no por debajo del menu de navegación - barra de navegacion que es fija */
  }

  .vertical-padding {
    padding-top: 50px; /* parte superior */
    padding-bottom: 50px; /* abajo */
  }

  .img-central-section {
    width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 400px; /* que la imagen no se amplie más alla de los 400 pixeles */
    padding: 0 0;
    margin-top: -30px;
    margin-bottom: -20px;
    transform: translateY(60px);
  }

  .img-central-section:hover {
    transform: translateY(-25px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    transition: 1s;
    animation-name: move;
    animation-iteration-count: infinite;
  }

  /* Botón editar */
  .edit-buttons {
    font-size: 10px; /* Tamaño de fuente */
  }

  .edit-buttons:hover {
    font-size: 5px solid;
    filter: brightness(120%); /* al hacer hover sobre el botón que tenga más brillo */
  }
}
