/* You can add global styles to this file, and also import other style files */
/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT main ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* Raíz del Document, nodo principal selector para definir variables para el cambio automático al citarla en cualquier lugar. */
:root {
  --theme-color-topheader: #00358e;
  --theme-color: #0D0ACA;
  --primary-color: white;
  --secondary-color: #F7C331;
  --tertiary-color: rgb(255, 0, 0);
  --text-color-inverse: white;;
  --text-color: black;
  --navbar-shallow-color: #0215fd; /* color sombra linea barra de navegación */
  --menu-mobile-background-color: #3A4460; /* color background del menu dispositivo mobil */
  --bd-violet-rgb: 112.520718,44.062154,249.437846;
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-cornflowerblue:#6495ed;
}

html {
  scroll-behavior: smooth; /* para lograr que el comportamiento de desplazamiento-scroll sea suave */
}

img[id] {
  scroll-margin-top: 150px; /* para lograr al hacer scroll que quede visible la sección elejida y no por debajo del menu de navegación - barra de navegacion que es fija */
}

/* link css para todo el body Google Font fuente Montserrat sino sans-serif del navegador */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bs-gray-400);  /*hsl(0deg 0% 100%); /*#e5e5e5;/*#0215fd; /*#06ccff; */
  color: var(--text-color); /* color general del texto */
  padding-top: 140px; /* para tener espacio en el top body al estar fijado el navbar (.topheader position fixed) barra de navegación */
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

/* reseteo global enlaces: */
a {
  text-decoration: none; /* enlaces sin lineas debajo */
  color: var(--text-color); /* color del texto enlaces */
}

/* padding minimos que vamos a tener en dispositivos mobiles */
.horizontal-padding {
  padding-left: 25px; /* izquierda*/
  padding-right: 25px; /* derecha*/
}
.vertical-padding {
  padding-top: 25px; /* parte superior */
  padding-bottom: 25px; /* abajo */
}

/* imagen ola utilizada para separación de section */
.wave {
  width: 100%; /* para que este integrada al 100% del ancho de la pagina viewport */
  position: relative; /* al ampliar la pantalla añade una linea que lo borramos integrandolo al elemento */
}

.wave_top {
  transform: scaleY(-1); /* invierte horizontalmente la posición de la imagen ola para integrarla a la section */
  top: 2px; /* que se mueva en su posición natural 2px y se integre */
  padding-top: 0px; /* parte superior */
}

.wave_bottom {
  top: -2px; /* que se mueva en su posición natural 2px y se integre */
  padding-bottom: 0px; /* abajo */
}

.img-central-section {
  display: flex;
  width: 60%;  /* foto de perfil que sea el 60% de mi viewport */
  max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -25px;
  margin-bottom: -10px;
  transform: translateY(40px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
  border-radius: 5%;
  cursor: pointer none;
  background-color: #0066ff;
  border: 1px solid var(--navbar-shallow-color);
}

.img-central-section:hover {
  transform: translateY(-20px);
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s all;
  border-radius: 5%;
}

/* ------------------------------------------------------------------*/

/* padding minimos:::::Para Dispositivos DESKTOP::::a partir de un min-width: 950px */
@media (min-width: 950px) {

  img[id] {
    scroll-margin-top: -450px; /* para lograr al hacer scroll que quede visible la sección elejida y no por debajo del menu de navegación - barra de navegacion que es fija */
  }

  .vertical-padding {
    padding-top: 50px; /* parte superior */
    padding-bottom: 50px; /* abajo */
  }

  .img-central-section {
  width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
  max-width: 400px; /* que la imagen no se amplie más alla de los 400 pixeles */
  padding: 0 0;
  margin-top: -30px;
  margin-bottom: -20px;
  transform: translateY(60px);
  }

  .img-central-section:hover {
  transform: translateY(-25px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
  transition: 1s;
  animation-name: move;
  animation-iteration-count: infinite;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT navbar ::::::::::==================*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
/* :::::Para Dispositivos DESKTOP:::: */
/* seleccionamos los diferentes elementos que tienen clases: */
.topheader {
  box-shadow: 0 4px 5px var(--navbar-shallow-color); /* linea sombra de la caja, correr el elemento del eje: X= 0, Y= 4px hacia abajo, que este difuminado, color */
  position: fixed; /*posición fija del Header con respecto del viewport como barra completa no se oculta con el scroll */
  background-color: var(--theme-color-topheader); /* fondo del contenedor Header con la variable */
  left: 0; /* fijado con respecto a la izquierda */
  top: 0; /* fijado con respecto arriba al tope */
  width: 100%; /* fijo a todo el ancho */
  z-index: 100; /* Al ser position fixed barra superior evito que el resto de los elementos pasen por encima en el viewport al hacer scroll con z-index, por defecto es 0 pero al elevar su valor se logra evitarlo por detras */
}

/* clases barra de navegacion */
.topnav {
  display: flex; /* los elementos se colocan al lado en bloque fila */
  justify-content: space-between; /* espacio en el medio de los elementos separados en bloques en cada esquina */
  align-content: center;
  align-items: center;
  padding: 0 10px;
  max-width: 980px; /* ancho de pantalla máximo entre separación de los elementos */
  margin: 0 auto;/* centrado de los elementos con respecto a su contenedor Header */
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  border-radius: 5px;
}

/* Logos */
.logo {
  display: flex; /* los elementos al lado en bloque fila */
  align-items: center; /* los elementos centrados separados de los costados del contenedor */
}

/* Redes Sociales */
.icons-redsocial {
  padding: 6px 6px;
}

.redsocial-login {
  display: flex;
  align-items: center; /* los elementos centrados separados de los costados del contenedor */
}

.social img:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(8, 150, 251, 0.5);
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center; /* los elementos centrados separados de los costados del contenedor */
}

/* Botón Login */
.btn-login {
  margin: 0;
  padding: 0 6px;
}

.btn.btn-primary {
  background: #013b9f;
  padding: 3px 10px;
  box-shadow: 0 2px 4px var(--theme-color);
  border-radius: 10px;
  border: 2px solid var(--bd-purple);
}

/* Menu */
.menunav {
  display: flex; /* los elementos al lado en bloque fila */
  justify-content: center; /* los elementos en el centro separados de los costados del contenedor */
  align-content: center;
  padding: 0 10px;
  max-width: 980px; /* ancho de pantalla máximo entre separación de los elementos */
  margin: 0 auto;/* centrado de los elementos con respecto a su contenedor Header */
}

.menu {
  /*display: flex; /* los elementos al lado en bloque fila */
  align-items: center; /* los elementos centrados separados de los costados del contenedor */
  margin: 0; /* reseteamos por defecto lo añade el navegador hacia elemento li */
  padding: 0; /* idem por reseteo */
  font-family: 'Titillium Web';
  text-align: center;
}

.menu * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.menu li {
  display: inline-block;
  list-style: outside none none; /* quitar los puntos por defectos las ul */
  margin: .5em .9em;
  padding: 0;
}

.menu a {
  color:#06ccff;
  font-size: 19px; /* tamaño de fuente */
  font-weight: 600; /* peso de la fuente */
  line-height: 70px; /* altura de la fila */
  text-transform: uppercase; /* para que este en mayúscula */
  position: relative; /* para posicionar el pseudo selector con respecto a esta clase enlace y no al body */
  text-decoration: none;
  padding: .5em .48em;
}

.menu a::before,
.menu a::after {
  content: ""; /* siempre agregamos un contenido al elemento ej. que este vacio "" o con aa para ir viendo el desarrollo de las modificaciones o un text o url de imag, etc */
  width: 18px; /* que abarque todo el ancho del elemento */
  height: 18px; /* y que tenga un alto en px, es lo que va abarcar como una linea el rectangulo */
  position: absolute; /* posiciona color en el primer elemento padre. */
  transition: all .35s ease; /* transición para que aparezca o desaparezca la linea por debajo del elemento en segundos de retardo */
  opacity: 0; /* que no se vea hasta pasar el puntero del mouse por arriba con la clase selected del enlace .menu a.selected::after */
}

.menu a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 4px solid #3E8914;
  border-right: 4px solid #2E640F;
  transform: translate(-100%, 50%);
}

.menu a::after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 4px solid #2E640F;
  border-left: 4px solid #3E8914;
  transform: translate(100%, -50%);
}

.menu a:hover:before,
.menu a:hover:after {
  transform: translate(0,0);
  opacity: 1;
}

.menu a:hover {
  color: #3DA35D; /* al selecionar con el puntero del mouse por arriba cambia el color del elemento selecionado al realizar el hover */
}

/* iconos de menu */
.open-menu,
.close-menu {
  display: none; /* que icono abrir y cerrar menu en desktop no se vean */
}


/* ========================RESPONSIVE===============================*/

/* Style: :::::Para Dispositivos MOBILES:::: con @media que se aplique desde 0 hasta 950 píxeles */

@media (max-width: 950px) {
  .topheader {
    position: none; /*posición fija del Header con respecto del viewport como barra completa no se oculta con el scroll */
  }

  /* Logos */
  .logo {
    flex-direction: row; /* menu en columna */
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .logo-inti {
    max-height: 53px;
    max-width: 174px;
  }

 /* Check Día & Noche */
  .container.py-2 {
    padding: 0 6px;
  }

  .form-check-label {
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  /* Menu */
  .menu {
    display: flex; /* los elementos al lado en bloque fila */
    flex-direction: column; /* menu en columna */
    position: fixed; /*posición fija del Header con respecto del viewport como barra completa no se oculta con el scroll */
    left: 0; /* fijado con respecto a la izquierda */
    top: 0; /* fijado con respecto arriba al tope */
    width: 100%; /* fijo a todo el ancho */
    background-color: var(--menu-mobile-background-color);
    height: 100%; /* que abarque todo el alto de la pantalla */
    overflow-y: auto; /* que ponga una barra automática al costado cuando el contenido este apretado con el scroll se salga del viewport */
    opacity: 0; /* para alinear con el menu open y no ver el menu close va de 0 a 1 la visibilidad para centrar los menu */
    pointer-events: none; /* para que cuando el menu este cerrado y no tenga punteros los elementos ocultos */
    transition: opacity 0.4s; /* transiciona la opacidad con una velocidad en segundos dada */
  }

  .menu a {
    color: var(--text-color-inverse); /* invierto el color primario */
    font-size: 25px; /* tamaño text en el menu abierto */
  }

  /* iconos de menu */
  .open-menu,
  .close-menu {
    display: block; /* que icono abrir y cerrar de menu en mobil, se vean */
    border: none; /* eliminamos los style de bordes */
    background: none; /* eliminamos el style de fondo */
    cursor: pointer; /* colocamos un señalador puntero al pasar por arriba */
  }

  .close-menu {
    align-self: flex-end; /* alinear un elemento diferente del resto, en este caso al final */
  }

  /* clase menu con un _modificador para cuando este abierto */
  .menu_opened {
    opacity: 1; /* la opacidad aparece */
    pointer-events: all; /* añade nuevamente todos los eventos del puntero para scroll */
  }

  /* Eliminamos focusbordes de iconos open y close menu para el puntero, que quede focusborde en tecla tab */
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  /*  Para que en dipositivos mobil NO aparezca lineas por debajo de cada elemento en menu al pasar el puntero seleccionado) */
  /*.menu a::after {
    content: none; /* que no tenga un contenido en dispositivos mobil
  }

  /* al realizar el hover o seleccionamos el elemento */
  .menu a:hover,
  .menu a.selected {
  color: var(--secondary-color); /* al selecionar con el puntero del mouse por arriba cambia al color secundario el elemento */
  }
}

@media (max-width: 500px) {
  .social {
    display: flex;
    flex-wrap: wrap;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT about ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); /* url de la fuente de style Google Font para esta sección*/

/* Sección Acerca de, About */
.about {
  text-align: center; /* elemtos hijos centrados con respecto al viewport */
}

/* Div padre About + BannerFOTOPerfil + info profesional sobre mí + descarga cv */
.about-img-section {
  background-color: #1e78ff;
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
}

/* _______________________________________________________________________*/

/* Imagen del Banner */
.banner-img {
  width: 100%; /* banner que sea el 100% de mi viewport */
  padding: auto;
  margin-top: 20px;
  border-radius: 10px; /* redondeo las puntas del botón */
  box-shadow: 0 4px 5px var(--navbar-shallow-color);
  border: 1px solid var(--navbar-shallow-color);
  /*transform: scaleX(-1); */
}

/* _______________________________________________________________________*/

/* Div hijo about-img-section información */
.about-info {
  margin-bottom: 25px;
}

/* Imagen Foto perfil */
.about-img {
  width: 65%;  /* foto de perfil que sea el 75% de mi viewport */
  max-width: 300px; /* que la imagen no se amplie más alla de los 350 pixeles */
  border-radius: 50%;
  margin-top: -120px;
  transform: translateY(10px);
  box-shadow: 0 15px 35px var(--navbar-shallow-color);
  border: 1px solid var(--navbar-shallow-color);
  transition: 0.8s;
  animation-name: mover;
  animation-iteration-count: infinite;
}

.about-img:hover {
  transform: translateY(10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
  background-color: transparent;
  animation-name: mover;
  animation-iteration-count: infinite;
}

/* h1 Titulo Nombre*/
.about-name {
  font-size: 50px !important;
  font-weight: bold; /* que este resaltado en negrita */
  margin: 0; /* por defecto los navegadores agregan margenes, asi lo anulo */
  margin-top: 15px;
  color: var(--primary-color);
  font-family: 'Noto Sans', sans-serif; /* si esta fuente no lo encuentra por defecto toma el sans-serif del sistema operativo */
}

/* h2 Titulo Full Stack Dev Jr*/
.about-specialty {
  font-size: 25px !important;
  font-weight: bold; /* que este resaltado en negrita */
  margin: 0; /* por defecto los navegadores agregan margenes, asi lo anulo */
  color: var(--primary-color);
  font-family: 'Noto Sans', sans-serif; /* si esta fuente no lo encuentra por defecto toma el sans-serif del sistema operativo */
  margin-bottom: 15px; /* margen inferior separado del parrafo */
}

/* Párrafo detalles breves profesional hoby lugar etc */
.about-details {
  font-size: 18px;
  font-weight: 500; /* que tenga una fuerza medium, no es tan fuerte como es bold */
  line-height: 1.3; /* alto de linea: para que tenga un poco más de espaciado entre lineas */
  max-width: 450px; /* ancho maximo para que no tenga más de 6, 7 palabras por lineas */
  margin: 0 auto; /* para centrar con el text-align ya no lo toma, entonces le doy unos magenes: arriba-abajo 0 y de izquierda-derecha auto, se acomoda auto centrado */
  margin-bottom: 12px; /* margen inferior separado del boton Descarga cv */
}

/* Botón Descarga cv */
.about-btn {
  background-color: var(--navbar-shallow-color);
  color: var(--text-color-inverse);
  border: 1.5px solid var(--theme-color);
  font-size: 20px; /* Tamaño de fuente */
  padding: 0.5em 1em; /* separo de su contenedor en unidad de medida em = (es relativa a la medida de la fuente declarada del elemento, ej: 0.5em = a la mitad de píxeles de font-size y 1em = es igual cantidad de píxeles declarada en el font-size) siempre estara sujeta a los pixeles del font-size */
  border-radius: 42px; /* redondeo las puntas del botón */
}

.about-btn:hover {
  font-size: 10px solid; /* Tamaño de fuente */
  filter: brightness(100%); /* al hacer hover sobre el botón que tenga más brillo */
  /*color: cadetblue;*/
  cursor: pointer; /* cabie el puntero para seleccionar */
  border: 3.5px solid var(--theme-color);
}

/* _______________________________________________________________________*/

/* h2 Titulo Acerca de */
.title-acerca-de {
  font-size: 35px !important;
  font-weight: bold; /* que este resaltado en negrita */
  margin: 0; /* por defecto los navegadores agregan margenes, asi lo anulo */
  color: var(--primary-color);
  font-family: 'Noto Sans', sans-serif; /* si esta fuente no lo encuentra por defecto toma el sans-serif del sistema operativo */
  margin-top: 5px; /* Separación con el boton de descarga cv */
}

/* Párrafo Información Acerca de */
.acerca-de-details {
  font-size: 18px;
  font-weight: 500; /* que tenga una fuerza medium, no es tan fuerte como es bold */
  line-height: 1.3; /* alto de linea: para que tenga un poco más de espaciado entre lineas */
  max-width: 450px; /* ancho maximo para que no tenga más de 6, 7 palabras por lineas */
  margin: 0 auto; /* para centrar con el text-align ya no lo toma, entonces le doy unos magenes: arriba-abajo 0 y de izquierda-derecha auto, se acomoda auto centrado */
  margin-top: 10px; /* margen superior separado del h1 titulo */
  margin-bottom: 20px; /* margen inferior separado del siguiente elemento */
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 50px; /* margen inferior separado del siguiente elemento */
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: orangered;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fdfdfd;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fee800;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style: :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {
  /* Sección Acerca de, About */
/* Div padre About + BannerFOTOPerfil + info profesional sobre mí + descarga cv */
  .about-img-section {
    background-color: #0d6efd;
    text-align: left; /* elemtos hijos a la izquierda con respecto al viewport */
    justify-content: space-between;
    max-width: 980px; /* ancho de pantalla máximo entre separación de los elementos */
    margin: 0 auto; /* centramos los elementos */
  }

/* _______________________________________________________________________*/

/* Div hijo de about-img-section del Banner */
  .banner-img-section {
    display: flex; /* los elementos se colocan al lado en bloque fila */
  /*position: relative;*/
    margin-top: -5px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

/* Imagen del Banner */
  .banner-img {
    max-width: 1300px;
    left: 0; /* izquierda */
    margin: 0; /* margenes por defecto los anulamos */
    box-shadow: 0 4px 5px var(--text-color);
  }

/* _______________________________________________________________________*/


/* Div hijo about-img-section información */
  .about-info {
    text-align: left;
    display: flex;
    justify-content: space-between; /* espacio en el medio de los elementos separados en bloques en cada esquina */
    max-width:980px;
    margin: 0 auto;
    align-items: center;
  }

/* Div hijo de about-info */
  .about-perfil-img {
    text-align: center;
    margin: 0 auto;
  }

/* Imagen Foto perfil */
  .about-img {
    width: 55%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    /*transform: scaleX(-1);*/
    margin-top: -150px;
  }

/* h1 Titulo Nombre*/
  .about-name {
    font-size: 60px !important;
    margin-top: 10px;
  }

/* h2 Titulo Full Stack Dev Jr*/
  .about-specialty {
    font-size: 35px !important;
  }

/* Párrafo detalles Acerca de */
  .about-details {
    margin-bottom: 15px;
  }

/* Botón Descarga cv */
  .about-btn {
    font-size: 28px; /* Tamaño de fuente */
    cursor: pointer; /* cabie el puntero para seleccionar */
  }

  .about-btn:hover {
    font-size: 15px solid;
    filter: brightness(120%); /* al hacer hover sobre el botón que tenga más brillo */
  }

/* _______________________________________________________________________*/

/* Div hijo de about-info Acerca de*/
  .acerca-de {
    margin-top: -50px;
  }

/* h2 Titulo Acerca de */
  .title-acerca-de {
    font-size: 50px !important;
    margin-top: 25px; /* Separación con el boton de descarga cv */
  }

/* Párrafo Información Acerca de */
  .acerca-de-details {
    margin: 30px 0; /* para centrar con el text-align ya no lo toma, entonces le doy unos magenes: arriba-abajo 20 y de izquierda-derecha auto, se acomoda auto centrado */
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT experiences ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* section general de Experiencias */
.experiences {
  display: flex;
  flex-direction: column; /* para integrar las imagenes ola en columna*/
}

/* section del cuerpo de experiencias */
.experiences-body {
  max-width: 980px; /* que tenga un ancho máximo a 980px */
  margin: 0 auto; /* para centrar el margen de los elementos ya que fijamos en 10px dentro de los elementos skills-skill y por defecto lo alinea a la izquierda */
  background-color: var(--bd-purple); /* --navbar-shallow-color color de fondo usando una variable que esta a la raiz del documento .:root */
  color: var(--text-color-inverse); /* idem anterior pero en el color del texto */
  justify-content: center;
  align-items: center;
  padding: 0; /* lo anulamos ya que por defecto al ser ul lista desordenada agrega un espacio para el punto al lado del elemento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  border: 0.15px solid #06ccff;
}

.experiences-body:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
}

.experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
  cursor: pointer none;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.experiences-title::after, .experiences-title::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #06ccff;
  transition: all 1s;
}

.experiences-title::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #06ccff;
  border-left: 5px solid #06ccff;
}

.experiences-title::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #06ccff;
  border-right: 5px solid #06ccff;
}

.experiences-title:hover {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.experiences-title:hover::before, .experiences-title:hover::after {
  width:100%;
  height:100%;
}

/* al rededor de cada experiencia*/
.experience {
  padding: 25px; /* añadimos espacios */
  max-width: 500px; /* para que el texto al ampliar el viewport no se amplie a lo ancho le pongo un máximo de 6 -7 palabras. */
  margin: 0 auto; /* el contenido queda centrado modo tipo tablet-intermedio. */
}

.experience:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(28, 27, 27, 0.5);
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  cursor: pointer none;
  transition: 0.8s all;
  background-color: transparent;
}

.experience-date {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
}

.experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.experience-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {

  .experiences-title {
    font-size: 50px;
    margin: 35px;
  }

  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--text-color-inverse);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--text-color-inverse);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }

  .experience {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(28, 27, 27, 0.5);
    border-radius: 42px; /* redondeo los bordes-puntas del botón */
    transition: 0.8s;
    background-color: transparent; /*#06ccff;*/
    border: 1px solid #0066FF;
  }

  .experience:hover {
    transform: translateY(-20px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    background-color: #0066FF;
    border: 1px solid #06ccff;
  }

  .experience-date {
    font-size: 40px;
  }

  .experience-company {
    font-size: 25px;
  }

  .experience-position {
    font-weight: bold;
    font-size: 20px;
  }

  .experience-description {
    font-size: 20px;
    line-height: 1.3;
  }

  .experience_left {
    text-align: right;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT educations ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* section general de Experiencias */
.educations {
  display: flex;
  flex-direction: column; /* para integrar las imagenes ola en columna*/
}

/* section del cuerpo de Educación */
.educations-body {
  max-width: 980px; /* que tenga un ancho máximo a 980px */
  margin: 0 auto; /* para centrar el margen de los elementos ya que fijamos en 10px dentro de los elementos skills-skill y por defecto lo alinea a la izquierda */
  background-color: #0066FF; /*var(--navbar-shallow-color); color de fondo usando una variable que esta a la raiz del documento .:root */
  color: var(--text-color-inverse); /* idem anterior pero en el color del texto */
  justify-content: center;
  align-items: center;
  padding: 0; /* lo anulamos ya que por defecto al ser ul lista desordenada agrega un espacio para el punto al lado del elemento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  border: 0.25px solid var(--navbar-shallow-color);
}

.educations-body:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
  border: 0.25px solid #06ccff;
}

.educations-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
  cursor: pointer none;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.educations-title::after, .educations-title::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #06ccff;
  transition: all 1s;
}

.educations-title::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #06ccff;
  border-left: 5px solid #06ccff;
}

.educations-title::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #06ccff;
  border-right: 5px solid #06ccff;
}

.educations-title:hover {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.educations-title:hover::before, .educations-title:hover::after {
  width:100%;
  height:100%;
}


/* Imagen institución */
.education-img-ministerio {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-cessi {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-inti {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-bertoldi {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-pivotpoint {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 10px; */
}

.education-img-cervantes {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-unc {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 30px; */
}

.education-img-facultad {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 30px; */
}

.education-img-uncicons {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 40px;
  padding-bottom: 20px; */
}

.education-img-secundaria {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

/* al rededor de cada experiencia*/
.education {
  padding: 25px; /* añadimos espacios */
  max-width: 500px; /* para que el texto al ampliar el viewport no se amplie a lo ancho le pongo un máximo de 6 -7 palabras. */
  margin: 0 auto; /* el contenido queda centrado modo tipo tablet-intermedio. */
}

.education:hover {
  transform: translateY(-20px);
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s all;
  border-radius: 5%;
}

.education-certification {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
}

.education-institution {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
  color: #a8a8a9;
}

.education-date {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.education-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {

  .educations-title {
    font-size: 50px;
    margin: 35px;
  }

  .empty {
  display: flex;
  width: 100%;  /* foto de perfil que sea el 75% de mi viewport */
  max-width: 350px; /* que la imagen no se amplie más alla de los 300 pixeles */
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -10px;
  }

  /* Div logo */
  .education-logo-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 300 pixeles */
    margin: 0 auto;
    background: rgb(255, 51, 0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
    border-radius: 10px; /* redondeo los bordes-puntas del botón */
    padding: 2em 0.7em; /* espaciado al rededor del elemento: 50% arriba y abajo y 70% a los costados */
    border: 2px solid #fee800;
    transition: 0.8s;
  }

  .education-logo-img:hover {
  transform: translateY(10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
  border-radius: 25%;
  border-width: solid transparent;
  border: 2px solid #050505;
  }

  /* Imagen institución */
  .education-img-ministerio {
    width: 75%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-cessi {
    width: 90%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-inti {
    width: 70%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-bertoldi {
    width: 70%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-pivotpoint {
    width: 45%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 10px;
  }

  .education-img-cervantes {
    width: 150%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-unc {
    width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 30px;
  }

  .education-img-facultad {
    width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 40px;
  }

  .education-img-uncicons {
    width: 55%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .education-img-secundaria {
    width: 60%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-certification {
    font-size: 40px;
  }

  .education-certification:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    cursor: pointer none;
    border-radius: 15px; /* redondeo los bordes-puntas del botón */
    transition: 1s;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.25px solid #06ccff;
  }

  .education-institution {
    font-size: 25px;
  }

  .education-date {
    font-weight: bold;
    font-size: 20px;
  }

  .education-description {
    font-size: 20px;
    line-height: 1.3;
  }

  /* al rededor de cada experiencia*/
  .education {
    padding: 0 2.5px; /* eliminamos espacios */
  }

  .education:hover {
    transform: translateY(none);
    transform: scale(none);
    box-shadow: none;
    transition: none;
    border-radius: none;
  }

  .education_left {
    text-align: right;
  }

  .educations-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--text-color-inverse);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--text-color-inverse);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT skills ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
.skills {
  max-width: 980px; /* que tenga un ancho máximo a 980px */
  margin: 0 auto; /* para centrar el margen de los elementos ya que fijamos en 10px dentro de los elementos skills-skill y por defecto lo alinea a la izquierda */
  justify-content: center;
  align-items: center;
}

/* _______________________________________________________________________*/
/* Style: para dispositivos mobil que se aplica desde 0 hasta 950 píxeles */
.skills-title {
  font-size: 30px !important; /* tamaño de fuente */
  font-weight: bold; /* que este en negrita*/
  text-transform: uppercase; /* que este en mayuscula */
  text-align: center; /* que este alinedo al centro */
  margin-bottom: 15px;
  cursor: pointer none;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  color:#2a2a2a;
}

.skills-title::after, .skills-title::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #06ccff;
  transition: all 1s;
}

.skills-title::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #06ccff;
  border-left: 5px solid #06ccff;
}

.skills-title::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #06ccff;
  border-right: 5px solid #06ccff;
}

.skills-title:hover {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.skills-title:hover::before, .skills-title:hover::after {
  width:100%;
  height:100%;
}

.skills-list {
  list-style: none; /* para quitarle los puntos que pone por defecto en la lista*/
  padding: 0; /* lo anulamos ya que por defecto al ser ul lista desordenada agrega un espacio para el punto al lado del elemento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */

  display: flex; /* posicionamos los elementos uno al lado del otro */
  flex-wrap: wrap; /* anulo el scroll horizontal para que los elementos esten uno debajo del otro, que por defecto esta en nowrap*/
  justify-content: space-around; /* para que el contenido este centrado el eje horizontal */
  gap: 40px; /* circle*/
  background-color: #06ccff;
  border: 1px solid #0215fd;
}

.skills-list:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
}

.skills-skill {
  font-size: 20px; /* tamaño de fuente */
  font-weight: 500; /* que este en 500 peso o grueso de la letra */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  padding: 0.7em 0.5em; /* espaciado al rededor del elemento: 50% arriba y abajo y 70% a los costados */
  margin: 10px; /* margen para que esten separados los elementos uno del otro */
  background: #2a2a2a;
  max-width: 430px;
  min-width: 10px;
}

.skills-skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.8s;
}

.skill-img {
  display: flex;
  width: 60%;  /* foto de perfil que sea el 75% de mi viewport */
  height: auto;
  min-height: 15vh;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  padding: 1px;
  /*background: #222;
  /*border-radius: 50%;*/
  /*margin-top: -100px;*/
}

/* circle */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px auto;
}

.container .card {
  position: relative;
  width: 150px;
  height: 150px;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif,
}

.container .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.card:hover .percent .number h2{
  color: rgb(249, 251, 251);
  font-size: 53px;
}

.container .card .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
  /*background: #f00;*/
}

.container .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: #191919;
  transform: translate(5px,5px);
}

.container .card .percent svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  /* 360deg / 100 = 3.6 */
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before {
  content: " ";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}

.number {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2.5s;
}

.number h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0008f5;
  font-weight: 700;
  font-size: 2em;
}

.number h2 span {
  font-weight: 300;
  color: #929292;
  font-size: 0.5em;
}

.number h3 {
  font-weight: 300;
  font-size: 0.60em;
  letter-spacing: 2px;
  margin-top: -8px;
  text-transform: uppercase;
  color: rgba(255,255,25,0.75);
}


.skill-img-html {
  max-width: 40%;
  max-height: 40%;
 /*width: 60%;  /* foto de perfil que sea el 60% de mi viewport */
}

.skill-img-css {
  max-width: 28%;
  max-height: 28%;
  /*width: 45%;  /* foto de perfil que sea el 50% de mi viewport */
}

.skill-img-js {
  max-width: 62%;
  max-height: 62%;
  /*width: 100%;  /* foto de perfil que sea el 60% de mi viewport */
}

.skill-img-angular {
  max-width: 80%;
  max-height: 80%;
  /*width: 100%;  /* foto de perfil que sea el 60% de mi viewport */
}

.skill-img-sql {
  max-width: 80%;
  max-height: 80%;
  /*width: 100%;  /* foto de perfil que sea el 60% de mi viewport */
}

.skill-img-ruby {
  max-width: 48%;
  max-height: 48%;
}

.skill-img-git {
  max-width: 35%;
  max-height: 35%;
}

.skill-img-github {
  max-width: 50%;
  max-height: 50%;
}

.skill-img-flexboxgrid {
  max-width: 65%;
  max-height: 65%;
  border-radius: 5%;
}

.skill-img-bootstrap {
  max-width: 85%;
  max-height: 85%;
}

.skill-img-figma {
  max-width: 25%;
  max-height: 25%;
}

.skill-img-ofimatica {
  max-width: 60%;
  max-height: 60%;
}

.skill-img-computerized {
  max-width: 40%;
  max-height: 40%;
  border-radius: 5%;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media(min-width: 950px) {

  /* que esta Section Skills tenga */
  .section-skills {
    padding: 19px;
    margin: 0;
    box-sizing: border-box;
    background: transparent, /*#e5e5e5; /*rgb(249, 251, 251);*/
  }

  .skills-title {
    font-size: 50px !important; /* tamaño de fuente */
    max-width: 980px; /* que tenga un ancho máximo a 980px */
  }

  .skill-img-git {
    max-width: 40%;
    max-height: 40%;
  }

  .skill-img-github {
    max-width: 52%;
    max-height: 52%;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT projects ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* section general de Experiencias */
.projects {
  display: flex;
  flex-direction: column; /* para integrar las imagenes ola en columna*/
}

/* section del cuerpo de Educación */
.projects-body {
  max-width: 980px; /* que tenga un ancho máximo a 980px */
  margin: 0 auto; /* para centrar el margen de los elementos ya que fijamos en 10px dentro de los elementos skills-skill y por defecto lo alinea a la izquierda */
  background-color: #0066FF; /*var(--navbar-shallow-color); color de fondo usando una variable que esta a la raiz del documento .:root */
  color: var(--text-color-inverse); /* idem anterior pero en el color del texto */
  justify-content: center;
  align-items: center;
  padding: 0; /* lo anulamos ya que por defecto al ser ul lista desordenada agrega un espacio para el punto al lado del elemento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  border: 0.25px solid var(--navbar-shallow-color);
}

.projects-body:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
  border: 0.25px solid #06ccff;
}

.projects-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
  cursor: pointer none;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.projects-title::after, .projects-title::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #06ccff;
  transition: all 1s;
}

.projects-title::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #06ccff;
  border-left: 5px solid #06ccff;
}

.projects-title::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #06ccff;
  border-right: 5px solid #06ccff;
}

.projects-title:hover {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.projects-title:hover::before, .projects-title:hover::after {
  width:100%;
  height:100%;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {

  .projects-title {
    font-size: 50px;
    margin: 35px;
  }

  .empty {
  display: flex;
  width: 100%;  /* foto de perfil que sea el 75% de mi viewport */
  max-width: 350px; /* que la imagen no se amplie más alla de los 300 pixeles */
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -10px;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--text-color-inverse);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--text-color-inverse);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}

/* _______________________________________________________________________*/
/* ================::::::::::COMPONENT footer ::::::::::==================*/
/* :::::Para Dispositivos MOBILES:::: */
/* Pie de Página Section */
.footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pie-pagina {
  width: 100%;
  background-color: var(--bs-gray-800); /* fondo del contenedor Header con la variable */
  border-radius: 25px;
}

.pie-pagina .grupo-1 {
  width: 90%;
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  padding: 35px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 300px;
  border-radius:25px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--bs-white);
  margin-right: 10px;
  background-color: var(--bs-gray-600);
  text-align: center;
  transition: all 300ms ease;
  border-radius: 50%;
  margin: 3px 3px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: var(--bd-purple);
}

.pie-pagina .grupo-2 {
  background-color: var(--bs-gray-900);
  border-radius: 15px;
  padding: 15px 10px;
  text-align: center;
  color: var(--bs-white);
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/* _______________________________________________________________________*/
/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {

  .pie-pagina .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
}
